<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--responsive-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--styles-->
    <link href="css/stylesHome.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/7ba5eb1822.js" crossorigin="anonymous"></script>
    <title>Mercado Liebre</title>
</head>

<body>
    <header>
        <section class="main-header">
            <div class="mercadoliebre-container-logo">
                <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre"></a>
            </div>
           
            <div class="searchbar-container">
                <form action="/busqueda" method="POST">
                    <input class="searchbar" type="text" placeholder="Buscar products, marcas">
                </form>

                <div class="magnifying-glass">
                    <i class="fa-solid fa-magnifying-glass fa-lg"></i>
                 </div>
            </div>
            
            <div class="cuotas">
                <h4 class="hand-icon"><i class="fa-solid fa-hand-holding-dollar" class="hand-icon">
                    </i>Comprá en cuotas y sin tarjeta de crédito </h4>
            </div>

        </section>
        
    <section class="navigation">
        <nav class="contenedor-lista1 oculto-mobile-nav">
            <ul type="none" class="caja-lista-1">
                <li>Ofertas</li>
                <li>Tiendas oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>
        </nav>

        <nav class="contenedor-lista2 oculto-mobile-nav">
            <ul type="none" class="caja-lista-2">
                               
                <li>
                    <a href="/register"> Creá tu cuenta</a> 
                    <div class="person-icon"><i class="fa-solid fa-id-card"></i></div>
                </li>
                
                <li>
                    <a href="/login"> Ingresá</a> 
                    <div class="person-icon"><i class="fa-solid fa-arrow-right-to-bracket"></i></div>
                </li>
                <li class="person-icon">Mis compras
                    <div class="person-icon"><i class="fa-solid fa-basket-shopping"></i></div>
                </li>
            </ul>
        </nav>
    </section>
        <div class="paty-box">
            <div class="oculto-tablet-desktop paty-container">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
    </header>

    <div class="banner">
        <img src="/images/img-home-banner.jpg" alt="Banner">
    </div>
    
    <main class="main-styles">
        <h4 class="title-fonts">Basado en tu última visita</h4>

        <section class="section-styles">        
            <div class="article-container">
                <article class="product">  
                    <img src="/images/img-cafetera-moulinex.jpg" alt="Imagen de cafetera Moulinex">
                   
                    <div class="truck-location">
                        <div class="truck-icon"> <i class="fa-solid fa-truck"></i></div>
                    </div>
                                     
                    <div class="caja-descripcion-1 oculto-mobile">
                        <p class="prices-font">$6.770</p>
                        <P class="offer-font">40% OFF</P>
                    </div>
        
                    <div>   
                        <P class="description-font oculto-mobile-nav">Cafetera Moulinex</P>
                    </div>
                
                </article>
            </div>

            <div class="article-container">
                <article class="product">  
                    <img src="/images/img-macbook-pro-2019.jpg" alt="Imagen de MacBook Pro">
                    
                    <div class="truck-location">
                        <div class="truck-icon"> <i class="fa-solid fa-truck"></i></div>
                    </div>
                    
                    <div class="caja-descripcion-1">                                    
                        <p class="prices-font">$230.000</p>
                        <P class="offer-font">20% OFF</P>
                    </div>

                    <div>
                        <P class="description-font oculto-mobile-nav">MacBook Pro 2019</P>
                    </div>

                </article>
            </div>

            <div class="article-container">
                <article class="product">  
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen de Samsung Galaxy S10">
                    
                    <div class="truck-location">
                        <div class="truck-icon"> <i class="fa-solid fa-truck"></i></div>
                    </div>
                    
                    <div class="caja-descripcion-1" >                                             
                        <p class="prices-font">$70.500</p>
                        <P class="offer-font">10% OFF</P>
                    </div>

                    <div>
                        <P class="description-font oculto-mobile-nav">Samsung Galaxy S10</P>
                    </div>
                </article>
            </div>

            <div class="article-container">
                <article class="product">  
                    <img src="/images/img-tv-samsung-smart.jpg" alt="Imagen de SmartTv Samsung 43">
                    
                    <div class="truck-location">
                        <div class="truck-icon"> <i class="fa-solid fa-truck"></i></div>
                    </div>
                    
                    <div class="caja-descripcion-1">                                               
                        <p class="prices-font">$23.200</p>
                        <P class="offer-font">5% OFF</P>
                    </div>

                    <div>
                        <P class="description-font oculto-mobile-nav">SmartTv Samsung 43"</P>
                    </div>
                </article>
            </div>
        </section>

        <h4 class="title-fonts">Sección de ofertas</h4> 
        
        <section class="section-styles">
                  
            <div class="article-container">
                <article class="product"   >  
                    <img src="/images/img-cafetera-moulinex.jpg" alt="Imagen de cafetera Moulinex">
                    
                    <div class="truck-location">
                        <div class="truck-icon"> <i class="fa-solid fa-truck"></i></div>
                    </div>
                    
                    <div class="caja-descripcion-1">                                              
                        <p class="prices-font">$6.770</p>
                        <P class="offer-font">40% OFF</P>
                    </div>
                
                    <div>
                        <P class="description-font oculto-mobile-nav">Cafetera Moulinex</P>
                    </div>
                </article>
            </div>

            <div class="article-container">
                <article class="product">  
                    <img src="/images/img-macbook-pro-2019.jpg" alt="Imagen de MacBook Pro">
                   
                    <div class="truck-location">
                        <div class="truck-icon"> <i class="fa-solid fa-truck"></i></div>
                    </div>
                   
                    <div class="caja-descripcion-1">                                           
                        <p class="prices-font">$230.000</p>
                        <P class="offer-font">20% OFF</P>
                    </div>

                    <div>
                        <P class="description-font oculto-mobile-nav">MacBook Pro 2019</P>
                    </div>
                </article>
            </div>

            <div class="article-container">
                <article class="product">  
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen de Samsung Galaxy S10">
                    
                    <div class="truck-location">
                        <div class="truck-icon"> <i class="fa-solid fa-truck"></i></div>
                    </div>
                    
                    <div class="caja-descripcion-1">                          
                        <p class="prices-font">$70.500</p>
                        <P class="offer-font">10% OFF</P>
                    </div>

                    <div>
                        <P class="description-font oculto-mobile-nav">Samsung Galaxy S10</P>
                    </div>
                </article>
            </div>

            <div class="article-container">
                <article class="product">  
                    <img src="/images/img-tv-samsung-smart.jpg" alt="Imagen de SmartTv Samsung 43">
                    
                    <div class="truck-location">
                        <div class="truck-icon"> <i class="fa-solid fa-truck"></i></div>
                    </div>
                    
                    <div class="caja-descripcion-1">                                              
                        <p class="prices-font">$23.200</p>
                        <P class="offer-font">5% OFF</P>
                    </div>

                    <div>
                        <P class="description-font oculto-mobile-nav">SmartTv Samsung 43"</P>
                    </div>
                </article>
            </div>
         </section>
    </main>

    <footer class="footer-styles">
        <section class="footer-container">
           
            <div class="footer-block">
                <div class="footer-icons">
                    <i class="fa-solid fa-credit-card"></i>
                </div>
                <h4 class="footer-titles">Pagá con tarjeta o en efectivo</h4>   
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </div>
    
            <div class="footer-block">
                <div class="footer-icons"> 
                    <i class="fa-solid fa-gift"></i>
                </div>
                <h4 class="footer-titles">Envío gratis desde $ 2.500</h4>
                <p>Solo por estar registrade en Mercado Liebre tenés envíos gratis en miles de
                    products. Es un beneficio de Mercado Puntos.</p>
            </div>
    
            <div class="footer-block">
                <div class="footer-icons">  
                    <i class="fa-solid fa-user-shield"></i>
                </div>
                <h4 class="footer-titles">Seguridad de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegide.</p>
            </div>
         </section>
            
         <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>  
        </footer> 

</body>
</html>